.h1 {
  font-family: Arial;
  margin-left: 400px;
  color: rgb(53, 16, 116);
}

.name {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
   font-size: larger;
   font-family: Arial;

}

body{
  
}




                          
